{% extends 'base.html' %}
{% load static %}

 {% block extra %}
{% endblock %}

{% block content %}
   <h2>{{ product.name }}</h2>
    <small>{{ product.created_at }}</small>
    <p>price: {{ product.price }} Toman</p>
   <img src="{{ product.image.url }}" style="width:1200px">
    <p>{{ product.description }}</p>
<br>
    <form action="{% url 'orders:cart_add' product.id %}" method="post">
        {% csrf_token %}
        {{ form}}
        <input type="submit" value="add to cart" class="btn btn-info ml-1">
    </form>

{% endblock %}


